<!doctype html>
<html lang="ja" ng-app="TestModule">
    <head>

        <title>test</title>
        <meta charset="utf-8">
        <script src="../../script/angular.min.js"></script>
        <script src="sample.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>angular test</h1>
        <div ng-controller="TestCtrl">
            <input type="text" ng-model="name">
            <button ng-click="onClickbtn()">push!</button>
            <p>{{name}}</p>
            <p>{{push_name}}</p>
            <p>{{now | date: 'MM/dd HH:mm:ss'}}</p>
        </div>

        <div ng-controller="TestCtrl2">
            <input type="text" ng-model="searchWord">
            <pre>{{names | filter: searchWord | json | uppercase }}</pre>
            <pre>{{names | filter: searchWord | json | uppercase | changepiyo:'hoge'}}</pre>
            <ul >
                <li ng-repeat="na in names">{{na}}</li>
            </ul>
            <table>
                <tr ng-repeat="na in names | orderBy">
                    <td>{{na}}</td>
                    <td>{{$index}}</td>
                    <td>{{$first}}</td>
                    <td>{{$middle}}</td>
                    <td>{{$last}}</td>
                    <td>{{$even}}</td>
                    <td>{{$od}}</td>
                </tr>
            </table>
        </div>

        <div ng-controller="TestCtrl3">
            <ul>
                <li ng-repeat="member in members">{{member.name}}</li>
            </ul>
        </div>

        <h1>recipe - value</h1>
        <div ng-controller="ValueCtrl">
            <pre>{{values | json}}</pre>
        </div>

        <h1>recipe - constant</h1>
        <div ng-controller="ConstantCtrl">
            <pre>{{constant_value}}</pre>
        </div>

        <h1>recipe - factory</h1>
        <div ng-controller="FactoryCtrl">
            <h3>{{counter.count}}</h3>
            <button ng-click="counter.increment()">+1</button>
            <button ng-click="counter.add(10)">+10</button>
        </div>


        <h1>recipe - service</h1>
        <div ng-controller="ServiceCtrl">
            <h3>{{counter.count}}</h3>
            <button ng-click="counter.increment()">+1</button>
            <button ng-click="counter.add(10)">+10</button>
        </div>


        <h1>recipe - provider</h1>
        <div ng-controller="ProviderCtrl">
            <h3>{{counter.count}}</h3>
            <button ng-click="counter.increment()">+1</button>
            <button ng-click="counter.add(10)">+10</button>

            <pre>{{value[0].name | json}}</pre>
            <button ng-click="changename()">CHANGE</button>
        </div>

        <h1>directive - sample1</h1>
        <button test-alert message="alert test!!">directive test</button>

        <h1>directive - sample2</h1>
        <p><test-btn icon='edit'></test-btn></p>
        <p><test-btn icon='plus'></test-btn></p>
        <p><test-btn icon='trash'></test-btn></p>


        <h1>directive-isolate</h1>
        <div ng-controller=isolateCtrl>
            <test-btn-group labels="['btn1', 'btn2', 'btn3']"
            on-select="showAlert(index, label)"></test-btn-group>
        </div>

        <h1>directive-transclude</h1>
        <p><test-transclude icon="edit">編集</test-transclude></p>
        <p><test-transclude icon="plus">追加</test-transclude></p>
        <p><test-transclude icon="trash">削除</test-transclude></p>

    </body>
</html>
